<!DOCTYPE html>
<html>
<head>
  <meta content="dewidth=device-width">
  <title id="title">Pizza Shop</title>
  <link type="text/css" rel='stylesheet' href="/style.css"/>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/pizzas">All Pizza Orders</a></li>
      <li><a href="/pizzas/new">Order New Pizza</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
