<!doctype html>
<html>
  <body>
    <h2>Welcome to the Rock Paper Scissors game!</h2>
    <h3>Choose rock, paper or scissors and play against the NPC opponent.</h3>

    <!-- <p>Select:</p>
    <form action="/" method="/rock">
    <button type="submit" value="rock" name="game">Rock</button>
    </form>
    <form action="/" method="/paper">
    <button type="submit" value="paper" name="game">Paper</button>
    </form>
    <form action="/" method="/scissors">
    <button type="submit" value="scissors" name="game">Scissors</button>
    </form> -->

  </body>
</html>