<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts student database. Ha. Ha</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="/student">List of students</a></li>
    <li><a href="/student/new">Add student</a></li>
  </ul>
</nav>
  <%= yield%>
</body>
</html>