<!DOCTYPE html>
<html>
<head>
  <title>Exoplanets!</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/astronomers">List of observatories</a></li>
      <li><a href="/exoplanets">Known exoplanets</a></li>
      <li><a href="/exoplanets/habitable">Potentially habitable planets</a></li>
      <li><a href="/discoveries">Discoveries</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>