<!DOCTYPE html>
<html>
<head>
  <title>Exoplanets!</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/astronomers">List of observatories</a></li>
      <li><a href="/exoplanets">List of exoplanets</a></li>
      <li><a href="/discoveries">Discoveries</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>