<a href="/">Main site</a>

<p>Name: <%= @astronomer.discoverer%></p>
<p>Observation type: <%= @astronomer.observation_type %></p>
</hr>

<form method="post" action="/astronomers/<%= @astronomer.id %>/delete">
<input type="submit" value="Delete observerer">
</form>